__pycache__/
*.py[cod]
*.pyo
*.so
*.egg
*.egg-info/
dist/
build/
*.log
.env/
.venv/
venv/
ENV/
env/
*.env
.cache/
.pytest_cache/
pip-log.txt
pip-delete-this-directory.txt
.vscode/
.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/
*.Rproj
*.Rhistory
*.RData
*.Rds
*.rdb
*.rdx
.Rcheck/
*.tar.gz
renv/library_*/
renv/python/
renv/staging/
renv.lock
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rapp.history
*.utf8.md
*.knit.md
*.html
*.pdf
cache/
*_cache/
*.nb.html
.DS_Store
Thumbs.db
PY/catboost_info/*
